
#categories-section .category-title {
    position: relative;
}

#categories-section .category-title h3 {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-weight: bold;
    background-color: var(--primary-light-color); 
    padding: 5px 15px;
    border-radius: 4px;
}

#categories-section .category-title hr {
    height: 0;
    border-top: 6px solid var(--primary-color);
    border-radius: 15px;
    opacity: .5;
}

#categories-section .category-items .row .col-md-3{
    margin-top: 135px;
    align-self: stretch;
}

#categories-section .category-items .category-card {
    position: relative;
    padding-top: 60px;
    background: var(--primary-light-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    height: 100%;
}

#categories-section .category-items .category-card .card-body {
    justify-content: flex-end;
    height: 100%;
}
 
 #categories-section .category-items .card-image {
    height: 150px;
    width: 200px;
    position: absolute;
    top: -50%;
    left: 70%;
    transform: translateX(-70%);
    transition: all .3s ease-in-out;
}


 #categories-section .category-items .card-image:hover {
    left: 50%;
    transform: translateX(-50%);
 }

 #categories-section .category-items .card-image img {
    border-radius: 5px;
 }