
/* HERO SECTION STYLES */
#hero-section .row ul li {
  list-style-type: disc;
  font-size: 14px;
}

#own-text {
  color: var(--primary-color);
  font-style: italic;
}

#app-section .download-icons img {
  margin-top: -70px;
}

.head-wrapper {
  position: relative;
}
.bg-shape {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: var(--primary-color);
  z-index: -50;
  border-bottom-left-radius: 100%;
}

