@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", Arial;
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  margin-bottom: 0;
}

input.form-control:focus, input.form-control:active, select, select:focus {
  outline: none;
  border: 0;
  box-shadow: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
